{{!-- Tekrogen · Field/form partial. Ghost member forms use data-members-form; this is the markup. --}}
<form class="tk-form" data-members-form="signup">
  <div class="tk-field"><label for="email">Email</label><input class="tk-input" id="email" type="email" data-members-email placeholder="you@company.com"/></div>
  <button class="tk-button" data-style="cta" data-block type="submit">Subscribe</button>
</form>
